body {
    background-image: url('../images/asanoha-400px.png');
    background-repeat: repeat;
}

/* NAV */
.navbar-light div.navbar-brand {
    background-color: #4aaaa5;
    color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-light div.navbar-brand:hover {
    color: #eeeeee;
}


/* MAIN */
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

button.btn-lg.btn-primary{
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 1px;
}

button.btn-lg.btn-primary:active,  button.btn-lg.btn-primary:focus{
    background-color: #3d8d89;
    border-color: #3d8d89;
}

.fa{
    color:#4aaaa5;
}

.bottommargin {
    margin-bottom: 100px;
}

/* IMAGE SIZING */
@media(min-width: 768px) {
    .col-lg-6 img {
        width: 350px;
    }
}


/* FOOTER */
.text-center.py-3 {
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    color: #979a9c;
}